.headline {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 20px;
}
.products_wrapper{
    width: 100%;
    position: relative;
    .grid{
        display: grid;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px;
        
        list-style: none;

        gap: 20px 10px;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

        overflow: hidden;

        .product{
            
            flex-flow: column wrap;

            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .link {
                width: 100%;
                position: relative;

                .image{
                    width: 100%;
                    aspect-ratio: 1/1;
                    position: relative;
                    overflow: hidden;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                .name{
                    width: 100%;

                    margin: 10px 0;
                    h2{
                        margin: 0;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .info{
                    h3, h4{
                        margin: 0;
                    }

                    .avalible{
                        color: rgb(71, 185, 43);
                        margin-bottom: 5px;
                    }
                    .unavalible{
                        color: red;
                        margin-bottom: 5px;
                    }
                }
            }

            .actions{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .buy{
                    display: flex;

                    background: #ff8c00;

                    padding: 5px 10px ;
                    border: 1px solid #ff8c00;
                    color: white;

                    align-items: center;
                    gap: 10px;

                    transition-duration: 200ms;
                    
                    svg{
                        height: 18px;
                        width: auto;
                        fill: white;
                    }
                    h3{
                        margin: 0;
                        font-weight: 700;
                    }
                }
                .buy:hover{
                    opacity: 100%;
                    background-color: rgba(255, 140, 0, 0.1);
                    color: #ff8c00;
                    svg{
                        fill: #ff8c00;
                    }
                }
                
            }
        }

        @media screen and (max-width: 550px) {
            grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        }
        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }
    }
}