.main{
    width: 90%;

    max-width: 1440px;

    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    
    .basic_info{
        margin-bottom: 30px;
        .product_images{
            overflow: hidden;
            width: 100%;
            position: relative;
            margin: 0 auto;

            display: grid;
            grid-template-columns: 90px auto;
            grid-template-rows: 550px;
            column-gap: 20px;

            .selected_photo{
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: stretch;
                position: relative;
                img{
                    object-fit: cover;
                    min-width: 100%;
                    min-height: 100%;
                    height: 100%;
                    width: 100%;
                }
            }

            .photo_galery{
                display: grid;
                grid-auto-flow: row;  
                row-gap: 20px;

                grid-template-columns: 90px;
                grid-auto-columns: min-content;

                overflow: scroll;
                .photo{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background-color: none;
                    margin: 0;
                    padding: 0;
                    img{
                        object-fit: contain;
                        height: auto;
                        width: 100%;
                    }

                }
            }
        }

        @media screen and (max-width: 580px) {
            .product_images{
                grid-template-columns: 15.5vw auto;
                grid-template-rows: 95vw;
                column-gap: 10px;
                .photo_galery{
                    row-gap: 10px;
                    grid-template-columns: 15.5vw;
                }
            }
        }

        @media screen and (max-width: 460px) {
            .product_images{
                column-gap: 5px;
                .photo_galery{
                    row-gap: 5px;
                }
            }
        }

        @media screen and (max-width: 430px) {
            .product_images{
                
                grid-template-columns: auto;
                grid-template-rows: auto 25.5vw;
                row-gap: 10px;

                .photo_galery{
                    column-gap: 10px;
                    column-gap: 5px;
                    grid-template-rows: 25vw;
                    grid-template-columns: unset;
                    grid-auto-flow: column;  
                    .photo{
                        position: relative;
                        img{
                            object-fit: contain;

                            height: 100%;
                            width: auto;
                        }
    
                    }
                }
                
                column-gap: 5px;
                .selected_photo{
                    grid-row-start: 1;
                }
            }
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        width: 100%;

        position: relative;
        .description{
            h1{
                margin-top: 0;
                margin-bottom: 5px;
                font-size: 30px;
            }
            p{
                margin: 0;
            }
        }

        .properties{
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            ul{
                margin: 0;
                padding-left: 0;
                font-size: 16px;
                font-weight: 500;
                li {
                    position: relative;
                    list-style-type: none;
                    padding-left: 1.5rem;
                    &:not(:last-child){
                        margin-bottom: 0.5rem;
                    }
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -2px;
                        width: 5px;
                        height: 11px;
                        border-width: 0 3px 3px 0;
                        border-style: solid;
                        border-color: rgb(28, 141, 0);
                        transform-origin: bottom left;
                        transform: rotate(45deg);
                    }
                }
            }

        }

        .properties_technical{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-evenly;
            gap: 10px;
            font-size: 20px;
            font-weight: 300;
            ul{
                flex: 1;
                list-style: none;
                margin: 0;
                padding: 0;
                border-top: 1px solid #dcdcdc;
                li{
                    padding: 5px 10px;
                    background-color: white;
                    border-bottom: 1px solid #dcdcdc;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
    .action_bar_wrapper{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;

        position: relative;

        .action_bar{
            padding: 10px;

            position: sticky;
            position: -webkit-sticky;
            top: 120px;

            margin-left: auto;

            width: 95%;
            height: fit-content;

            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap:10px;

            h1{
                margin: 10px 0;
            }

            .options{
                flex: 1;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                position: relative;
                margin-bottom: 20px;
                .option{
                    width: 100%;

                    h2, p, h3{
                        margin: 0;
                    }
                    h2{
                        margin-bottom: 5px;
                    }
                    
                    .options_container{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 5px;
                        .radio{
                            border: 1px solid #e1e1e1;
                            text-align: center;
                            &:has(input:checked){
                                border: 1px solid #fa6831;
                                color: black;
                                background: rgba(250, 102, 48, 0.15);
                            }
                            &:hover{
                                opacity: 50%;
                            }
                            label {
                                display: flex;
                            }
                            label div{
                                padding: 14px 19px;
                            }

                            h3{
                                font-size: 17px;
                            }
                            p{
                                font-size: 15px;
                                display: none;
                            }
                            @media screen and (max-width: 500px) {
                                label div{
                                    padding: 10px 15px;
                                }
                            }
                        }
                    }
                }
                .fileInput{
                    width: 100%;
                    h2{
                        margin: 0;
                        margin-bottom: 5px;
                    }
                    label{
                        color: #404040;
                        width: fit-content;
                        border: 2px solid currentColor;
                        font-size: 18px;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        overflow: hidden;
                        padding: 14px 19px;
                        position: relative;
                        svg{
                            height: 21px;
                            width: auto;
                            vertical-align: middle;
                            fill: currentColor;
                        }
                        &:hover{
                            color: #fa6831;
                        }
                    }
                }
            }
            .actions{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                .info{
                    flex-grow: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        margin: 0;
                    }

                    .avalibility{
                        color: rgb(28, 141, 0);
                        font-size: 18px;
                    }

                    .price{
                        font-size: 25px;
                        font-weight: 500;
                    }
                }
                .add_to_cart{
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 10px 0;

                    input[type="submit"]{
                        width: 100%;
                        padding: 8px 0;
                        font-size: 33px;
                        font-weight: 500;

                        border: 2px solid #fa6831;
                        color: white;
                        background: #fa6831;
                        transition: all 400ms;
                        &:hover{
                            color: #fa6831;
                            background-color: rgba(255, 0, 0, 0.1);
                        }
                        &:active{
                            color: black;
                            background-color: rgba(255, 0, 0, 0.9);
                        }
                    }
                }
                .message{
                    margin: 0;
                    text-align: center;
                    color: red;
                    font-weight: 700;
                }
            }
            @media screen and (max-width: 500px) {
                .options{
                    gap: 20px;
                    
                }
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    .main{
        width: 98%;
    }
}

@media screen and (max-width: 1000px) {
    .main{
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        row-gap: 20px;
        .basic_info{
            margin-bottom: 0px;
        }
        .action_bar_wrapper{
            grid-column-start: auto;
            grid-row-start: 2;
            grid-row-end: 3;
    
            position: relative;
            .action_bar{
                padding: 0;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 890px) {
    .main{
        margin: 0 auto;
    }
}


@media screen and (max-width: 700px) {
    .main{
        width: 90%;
    }
}

@media screen and (max-width: 620px) {
    .main{
        width: 98%;
    }
}