.main{
    width: 90%;
    min-height: calc(100vh - 100px);

    margin: 0 auto;

    header {
        text-align: center;
        margin: 40px 0;
        h1{
            font-size: 40px;
        }
        @media screen and (max-width: 360px) {
            h1{
                font-size: 33px;
            }
        }
    }

    .timeline_container{
        margin: 50px 0;

        .link{
            margin: 0 auto;
            text-align: center;
            width: fit-content;
            background-color: #ff8c00;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            margin-top: 50px;
            &:hover{
                opacity: 50%;
            }
            a{
                font-size: 25px;
                font-weight: 400;
            }

        }
    }

    .galery_container{
        width: 100%;
        position: relative;
        text-align: center;
        h2{
            font-size: 30px;
        }
        .galery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5px;
            list-style: none;
            padding: 0;
            .item{
                flex: 1 1 auto;
                height: 200px;
                max-width: 350px;
                cursor: pointer;
                position: relative;
                img{
                    object-fit: cover;
                    width: auto;
                    height: 100%;
                    vertical-align: middle;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:1030px) {
    .main{
        width: 98%;
    }
}