.main{
    width: 70%;
    margin: 20px auto;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 40px;

    .headline{
        font-size: 60px;
        margin: 40px 0px;
    }
    h1{
        font-size: 30px;
    }

    .info {
        text-align: left;
        
    }
}

@media screen and (max-width: 1030px) {
    .main {
        width: 80%;
    }
}