.main{
    max-width: 1260px;
    width: 90%;
    margin: 10px auto;
    min-height: calc(100vh - 120px);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px auto;

    row-gap: 10px;
    column-gap: 40px;

    .basket_navigation{
        grid-column-start: 1;
        grid-column-end: 3;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        position: relative;

        .arrow{
            height: 35%;
            width: auto;
        }

        .step{
            height: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 22px;
            font-weight: 500;

            color: #a4a4a4;
            svg{
                color: #a4a4a4;
                height: 30%;
                width: auto;
            }
        }
        .active{
            color: black;
            svg{
                color: black;
            }
        }
    }

    @media screen and (max-width: 330px) {
        .basket_navigation{
            flex-direction: column;
            gap: 10px;
            .arrow{
                height: 30px;
                transform: rotate(90deg);
            }
            .step{
                height: 30px;
                font-size: 25px;
                gap: 5px;
                svg{
                    height: 80%;
                }
            }
        }
    }

    .products_wrapper{
        .products_container{
            width: 100%;

            border-top: 2px solid #a4a4a4;
            border-bottom: 2px solid #a4a4a4;

            .product{
                width: 100%;
                height: 100px;
                border-bottom: 1px solid #dcdcdc;
                padding: 5px 10px;

                position: relative;

                display: grid;

                grid-template-columns: 90px 3fr 1fr;
                grid-template-rows: 100%;
                gap: 5px;

                &:last-child{
                    border: none;
                }

                .image{
                    background-color: black;
                }

                .info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: stretch;
                    padding: 2px 0px;
                    h2, p{
                        margin: 0;
                    }

                    .text{
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .avalibility{
                            color: green;
                        }
                    }

                    .amount{
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        max-width: 35px;
                        padding-right:5px ;
                        font-size: 19px;
                        font-weight: 500;

                        .count{
                            width: 30px;
                            padding: 0 5px;
                            border-left: 1px solid #a4a4a4;
                            border-right: 1px solid #a4a4a4;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(230, 230, 230);;
                        }
                        svg{
                            padding: 0 5px;
                            width: 30px;
                            height: auto;
                            border: 1px solid #a4a4a4;
                        }
                    }

                }

                .actions{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3{
                        margin: 0;
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: 1px;

                    }
                    svg{
                        height: 25px;
                        width: auto;
                    }
                }
            }
        }
    }

    .payment_wrapper{
        position: relative;
    }
}

@media screen and (max-width: 1000px) {
    .main{
        width: 95%;

        grid-template-columns: 1fr;
        grid-template-rows: 80px auto auto;
    
        row-gap: 20px;
        column-gap: 0px;
    
        .basket_navigation{
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}

@media screen and (max-width: 330px) {
    .main{
        grid-template-rows: auto auto auto;
    }
}