
.main{
    width: 90%;
    margin: 0 auto 40px auto;
    min-height: calc(100vh - 120px);

    header{
        padding-bottom: 20px;
        border-bottom: 1px solid lightgrey;
        width: 100%;
        overflow: hidden;
        position: relative;
        div{
            max-height: 330px;
            object-fit: cover;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                min-width: 100%;
                min-height: 100%;
            }
        }

    }

    .products_wrapper{
        width: 100%;
        position: relative;
        .grid{
            display: grid;
            width: 100%;
            margin-top: 20px;
            margin-left: 0px;
            padding: 0px;
            
            list-style: none;

            gap: 20px 10px;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

            overflow: hidden;

            .product{
                
                flex-flow: column wrap;

                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .link {
                    width: 100%;
                    position: relative;

                    .image{
                        width: 100%;
                        aspect-ratio: 1/1;
                        position: relative;
                        overflow: hidden;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }

                    .name{
                        width: 100%;

                        margin: 10px 0;
                        h2{
                            margin: 0;
                        }
                    }

                    .info{
                        h3, h4{
                            margin: 0;
                        }

                        .avalible{
                            color: rgb(71, 185, 43);
                            margin-bottom: 5px;
                        }
                        .unavalible{
                            color: red;
                            margin-bottom: 5px;
                        }
                    }
                }

                .actions{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .buy{
                        display: flex;

                        background: none;

                        padding: 5px 10px ;
                        border: 1px solid red;
                        color: red;

                        align-items: center;
                        gap: 10px;

                        transition-duration: 200ms;

                        svg{
                            height: 18px;
                            width: auto;
                        }
                        h3{
                            margin: 0;
                            font-weight: 700;
                        }
                    }
                    .buy:hover{
                        background-color: rgba(255, 0, 0, 0.255);
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .main{
        width: 95%;
    }
}