.main {
    width: calc(100% - 2*22px);
    position: sticky;
    top: 0;

    padding: 22px 0 22px 0;

    color: white;

    margin-bottom: 20px;

    display: flex;
    gap: 22px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
    z-index: 9999;
}

.main:has(.unfold:checked) {
    justify-content: flex-end;
}

.main > .logo_container{
    flex: 1;
    height: 60px;
}

.main > .logo_container  > .logo > div{
    height: 60px;
    width: 60px;
    background-color: black;
}

.main:has(.unfold:checked) > .logo_container{
    display: none;
}

.main > .navigation{
    width: 70%;
    height: 60px;

    position: relative;
    border-radius: 60px;

    padding: 10px 0px 10px 0px;

    display: flex;
    background-color: black;
    gap: 22px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main > .navigation h1{
    font-size: 33px;
    margin: 0;
}

@media screen and (max-width: 1030px) {
    .main > .navigation{
        width: 80%;
    }
}

@media screen and (max-width: 890px) {
    .main > .navigation{
        width: fit-content;
        height: 60px;
        background-color: inherit;
    }
    .main:has(.unfold:checked) > .navigation{
        width: 100%;
        background-color: black;
        justify-content: flex-end;
        border-radius: 24px;
    }
}

.main > .navigation > .links{
    width: 100%;
    display: flex;

    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.main > .navigation > .hamburgerMenu{
    height: 60px;
    width: 60px;
    border-radius: 24px;
    position: relative;

    display: none;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition-duration: 0ms;
}

@media screen and (max-width: 890px) {
    
        .main > .navigation > .links{
            display: none;
        }
        
        .main > .navigation > .hamburgerMenu{
            display: flex;
        }
    
}

.main > .navigation > .hamburgerMenu:hover{
    opacity: 50%;
}

.main > .navigation > .hamburgerMenu > span{
    position: relative;
    width: 70%;

    height: 4px;
    border-radius: 4px;

    background-color: black;

    transition-duration: 0ms;
}

.main:has(.unfold:checked) > .navigation > .hamburgerMenu> span{
    background-color: white;
    position: absolute;
}

.main:has(.unfold:checked) > .navigation > .hamburgerMenu> span:nth-child(2){
    display: none;
}

.main:has(.unfold:checked) > .navigation > .hamburgerMenu> span:first-child{
    transform: rotate(45deg);
}

.main:has(.unfold:checked) > .navigation > .hamburgerMenu> span:last-child{
    transform: rotate(-45deg);
}

.main > .navigation a{
    flex-grow: 1;
    text-align: center;
}

.main > .navigation a:hover{
    opacity: 50%;
    flex-grow: 1;
}

.main > .other{
    flex: 1;
}

.main > .other, .main > .navigation > .otherMobile{
    height: 60px;
    position: relative;
    gap: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.main:has(.unfold:checked) > .navigation > .otherMobile{
    display: none;
}

@media screen and (max-width: 890px) {
    .main > .other{
        display: none;
    }
}

@media screen and (min-width: 890px) {
    .main > .navigation > .otherMobile{
        display: none;
    }
}

.main > .other > button{
    background: none;
    border: none;
}

.main > .other > button:hover{
    opacity: 50%;
}

.main > .other  svg, .main > .navigation > .otherMobile svg{
    height: 35px;
    width: auto;
}
